<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
	<head>
		<title>My Horoscope App</title>
	</head> 
	<body>
		{% if name %}
		<p>Hello {{name}}!</p>
		{% else %}
		<p>Hello anonymous person!</p>
		{% endif %}


		<p>How much time do you have to focus your mind?</p>
		<div id="contact-form">
			<form method="post" action="/exercise">
				<label for="text">Please enter a time:</label>
				<input type= raw_input()>
				<input type="submit" value="Submit" id="submit"/>
			</form>
		</div>


	</body> 
</html>