#title {
	font-size:80px;
	font-family:"Helvetica Neue";


	text-align:center;
}


#book {
	font-size: 70px;
	font-family:"Helvetica Neue";


	text-align:center;
}


.container-fluid {
	font-size: 70px;
	font-family:"Helvetica Neue";


	text-align:center;
}


.p-3{
	font-size: 70px;
	font-family:"Helvetica Neue";


	text-align:center;
	padding-left:40px;

}

.gen {
	font-size: 70px;
	font-family:"Helvetica Neue";
	padding-top:10px;
	padding-left:40px;


	

}

}
.inspirelink {
	color:#ffffff;
	text-decoration: none;
}

.inspirelink:hover{
	 color: #d0a01f;
	 text-decoration: none;
}
}